table {
    margin: 1rem;
    border: var(--border);

    caption {
	text-align: left;
	margin-bottom: .5rem;
	font-size: 1.5rem;
	line-height: 1.5rem;
    }

    tr {
	border-bottom: var(--border);
	border-color: var(--border-color);
	border-width: 1px;
	border-style: solid;
	td {
	    padding: .5rem;
	}
    }

}
