{% extends 'layout.html' %}

{% block content %}
<main>
  <p>{{ dump(user) }}</p>
  <p>{{ dump(tokenData) }}</p>
  <table>
    <caption>Your Requests</caption>
    <thead>
      <tr>
	<td>id</td>
	<td>name</td>
	<td>date</td>
	<td>actions</td>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>

    </tbody>
  </table>
</main>
{% endblock content %}
