<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Requestor - {% block title %}KPL{% endblock %}</title>
    <link rel='icon' href='https://erf.kpl.gov/favicon.png'>
    <link rel='stylesheet' href='/css/styles.css' >
    {% block head %}{% endblock %}
  </head>
  <body>
      {{ include('_nav.html') }}
      {% block content %}{% endblock %}
      {{ include('_footer.html') }}
  </body>
</html>
